body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    top: 100px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#video-source-select-div{
	position: absolute;
	left: 50px;
	top: 50px;
}
